ignore-scripts=false
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
