PORT=3000

BYBIT_API_BASE_URL=https://api.bybit.eu
BYBIT_BASE_URL=https://api.bybit.eu

ANALYSIS_CANDLE_LIMIT=200

MIN_TURNOVER_24H_USDT=1000000

MAX_24H_DROP_PERCENT=8
MAX_1H_WINDOW_DROP_PERCENT=10
MAX_TREND_STRENGTH_PERCENT=5

MIN_RANGE_PERCENT=3
MAX_RANGE_PERCENT=30

MIN_AVG_RANGE_PERCENT=0.3
MAX_AVG_RANGE_PERCENT=5

SR_SWING_WINDOW=2
SR_CLUSTER_PERCENT=1
SR_MIN_TOUCHES=2

MAX_CONCURRENT_CANDLE_REQUESTS=5

TOP_CANDIDATES=10

INSTRUMENTS_CACHE_TTL_MS=300000
TICKERS_CACHE_TTL_MS=30000
CANDLES_CACHE_TTL_MS=45000

LIQUIDITY_TIER_1=50000000
LIQUIDITY_TIER_2=10000000
LIQUIDITY_TIER_3=5000000
LIQUIDITY_TIER_4=1000000
